We have access to a speciﬁc bank loan data. We have data about all loans asked to the bank, whether the bank decided to grant it and, ﬁnally, whether the borrower managed to repay it. We also have info about the borrower at the moment she is asking for the loan. You have to come up with a better strategy to grant loans. Speciﬁcally you should: 
1) Build a model which is better than the bank model. 
For simplicity, assume that: 
1.1)If you grant the loan and the it doesn't get repaid, you lose 1 
1.2)If you grant the loan and the it does get repaid, you gain 1 
1.3）If you don't grant the loan, you gain 0 

2) Using the rules above, compare bank proﬁtability vs your model proﬁtability 
Describe the impact of the most important variables on the prediction. 
Also, focus on the variable "is_employed", which describes whether the borrower is employed when she asks for the loan. How does this variable impact the model? Explain why Are there any other variables, not in the data provided, that you'd have liked to include in the model?

In [1]:
import pandas as pd
import numpy as np

In [2]:
loanfile="data/loan/loan_table.csv"
borrowerfile="data/loan/borrower_table.csv"

loan=pd.read_csv(loanfile)
borrower=pd.read_csv(borrowerfile)

In [3]:
loan.head()

   loan_id loan_purpose        date  loan_granted  loan_repaid
0    19454   investment  2012-03-15             0          NaN
1   496811   investment  2012-01-17             0          NaN
2   929493        other  2012-02-09             0          NaN
3   580653        other  2012-06-27             1          1.0
4   172419     business  2012-05-21             1          0.0

In [10]:
loan.describe()

             loan_id   loan_granted   loan_repaid
count  101100.000000  101100.000000  47654.000000
mean   499666.826726       0.471355      0.644353
std    288662.006929       0.499181      0.478714
min        30.000000       0.000000      0.000000
25%    250333.750000       0.000000      0.000000
50%    499885.000000       0.000000      1.000000
75%    749706.250000       1.000000      1.000000
max    999987.000000       1.000000      1.000000

In [11]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101100 entries, 0 to 101099
Data columns (total 5 columns):
loan_id         101100 non-null int64
loan_purpose    101100 non-null object
date            101100 non-null object
loan_granted    101100 non-null int64
loan_repaid     47654 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.9+ MB

In [4]:
borrower.head()

,loan_id,is_first_loan,fully_repaid_previous_loans,currently_repaying_other_loans,total_credit_card_limit,avg_percentage_credit_card_limit_used_last_year,saving_amount,checking_amount,is_employed,yearly_salary,age,dependent_number
0,289774,1,NaN,NaN,8000,0.49,3285,1073,0,0,47,3
1,482590,0,1.0,0.0,4500,1.03,636,5299,1,13500,33,1
2,135565,1,NaN,NaN,6900,0.82,2085,3422,1,24500,38,8
3,207797,0,1.0,0.0,1200,0.82,358,3388,0,0,24,1
4,828078,0,0.0,0.0,6900,0.80,2138,4282,1,18100,36,1

In [12]:
loan.groupby(["loan_granted","loan_repaid"]).size()

loan_granted  loan_repaid
1             0.0            16948
              1.0            30706
dtype: int64

In [13]:
loan.groupby(["loan_granted"]).size()

loan_granted
0    53446
1    47654
dtype: int64

In [32]:
#function to calculate profits
 
def calReturn(df,col):
    return(len(df.loc[(loan[col]==True)&(df["loan_repaid"]==True),:])-len(df.loc[(df[col]==True)&(df["loan_repaid"]==False),:]))

In [33]:
calReturn(loan,"loan_granted")

13758