In [1]:
#data read from input file 
import numpy as np
import pandas as pd

input_test_file='data/Translation_test/test_table.csv'
input_user_file='data/Translation_test/user_table.csv'
testdata=pd.read_csv(input_test_file)
userdata=pd.read_csv(input_user_file)

In [3]:
testdata.head()

,user_id,date,source,device,browser_language,ads_channel,browser,conversion,test
0,315281,2015-12-03,Direct,Web,ES,NaN,IE,1,0
1,497851,2015-12-04,Ads,Web,ES,Google,IE,0,1
2,848402,2015-12-04,Ads,Web,ES,Facebook,Chrome,0,0
3,290051,2015-12-03,Ads,Mobile,Other,Facebook,Android_App,0,1
4,548435,2015-11-30,Ads,Web,ES,Google,FireFox,0,1

In [4]:
#check data sample rows 
userdata.head()

   user_id sex  age    country
0   765821   M   20     Mexico
1   343561   F   27  Nicaragua
2   118744   M   23   Colombia
3   987753   F   27  Venezuela
4   554597   F   20      Spain

In [11]:
#check for one sample event 
testdata[testdata.user_id==315281]

,user_id,date,source,device,browser_language,ads_channel,browser,conversion,test
0,315281,2015-12-03,Direct,Web,ES,NaN,IE,1,0

In [12]:
#check for one sample event 
userdata[userdata.user_id==315281]

       user_id sex  age country
19877   315281   M   32   Spain

In [17]:
df=testdata.set_index("user_id").join(userdata.set_index("user_id"))

In [18]:
df.head()

,date,source,device,browser_language,ads_channel,browser,conversion,test,sex,age,country
user_id,,,,,,,,,,,
315281,2015-12-03,Direct,Web,ES,NaN,IE,1,0,M,32.0,Spain
497851,2015-12-04,Ads,Web,ES,Google,IE,0,1,M,21.0,Mexico
848402,2015-12-04,Ads,Web,ES,Facebook,Chrome,0,0,M,34.0,Spain
290051,2015-12-03,Ads,Mobile,Other,Facebook,Android_App,0,1,F,22.0,Mexico
548435,2015-11-30,Ads,Web,ES,Google,FireFox,0,1,M,19.0,Mexico

In [21]:
df.groupby("country").mean()

             conversion      test        age
country
Argentina      0.013994  0.799799  27.131064
Bolivia        0.048634  0.501079  27.096908
Chile          0.049704  0.500785  27.210569
Colombia       0.051332  0.498927  27.142693
Costa Rica     0.053494  0.498964  27.148427
Ecuador        0.049072  0.494432  27.037496
El Salvador    0.050765  0.497492  27.102875
Guatemala      0.049653  0.496066  27.167868
Honduras       0.049253  0.491013  27.142857
Mexico         0.050341  0.500257  27.118209
Nicaragua      0.053399  0.491447  27.251227
Panama         0.048089  0.502404  27.166540
Paraguay       0.048863  0.503199  26.998639
Peru           0.050258  0.498931  27.171003
Spain          0.079719  0.000000  27.150805
Uruguay        0.012821  0.899613  27.009192
Venezuela      0.049666  0.496194  27.094154

In [25]:
df1=df[df.country!="Spain"]
df1.groupby("country").size()

country
Argentina       46733
Bolivia         11124
Chile           19737
Colombia        54060
Costa Rica       5309
Ecuador         15895
El Salvador      8175
Guatemala       15125
Honduras         8568
Mexico         128484
Nicaragua        6723
Panama           3951
Paraguay         7347
Peru            33666
Uruguay          4134
Venezuela       32054
dtype: int64

In [27]:
df_exp=df1[df1.test==1]
df_control=df1[df1.test==0]

In [30]:
df_exp.describe()

          conversion      test            age
count  215983.000000  215983.0  215774.000000
mean        0.043425       1.0      27.115236
std         0.203812       0.0       6.762929
min         0.000000       1.0      18.000000
25%         0.000000       1.0      22.000000
50%         0.000000       1.0      26.000000
75%         0.000000       1.0      31.000000
max         1.000000       1.0      70.000000

In [31]:
df_control.describe()

          conversion      test            age
count  185556.000000  185556.0  185311.000000
mean        0.048330       0.0      27.143186
std         0.214464       0.0       6.788499
min         0.000000       0.0      18.000000
25%         0.000000       0.0      22.000000
50%         0.000000       0.0      26.000000
75%         0.000000       0.0      31.000000
max         1.000000       0.0      66.000000

In [35]:
from scipy import stats

In [39]:
df_exp.conversion
df_control.conversion

user_id
863394    0
10427     0
8343      1
234023    0
207018    0
103879    0
464816    0
913301    0
833933    0
601150    0
771699    0
730926    0
435134    0
310928    0
836325    0
298244    0
702037    0
225549    0
103330    0
856477    0
610992    0
6606      1
846916    0
720929    0
281487    0
312280    0
971271    0
434324    0
179186    1
966822    0
         ..
989124    0
486956    0
817076    0
443313    0
406292    0
883123    1
226822    0
325773    0
475117    0
549288    0
986653    0
238260    0
576115    0
918167    0
380950    1
310774    0
519189    0
18829     0
818146    0
744029    0
245644    0
652445    0
39677     0
511898    0
692975    0
411293    0
963759    0
177274    0
783089    0
425010    0
Name: conversion, Length: 185556, dtype: int64

In [40]:
df_exp

,date,source,device,browser_language,ads_channel,browser,conversion,test,sex,age,country
user_id,,,,,,,,,,,
497851,2015-12-04,Ads,Web,ES,Google,IE,0,1,M,21.0,Mexico
290051,2015-12-03,Ads,Mobile,Other,Facebook,Android_App,0,1,F,22.0,Mexico
548435,2015-11-30,Ads,Web,ES,Google,FireFox,0,1,M,19.0,Mexico
540675,2015-12-03,Direct,Mobile,ES,NaN,Android_App,0,1,F,22.0,Venezuela
261625,2015-12-04,Direct,Mobile,ES,NaN,Android_App,0,1,M,31.0,Bolivia
73335,2015-12-03,SEO,Web,ES,NaN,IE,0,1,F,29.0,Uruguay
409295,2015-12-02,Direct,Web,ES,NaN,FireFox,0,1,M,22.0,Nicaragua
740007,2015-11-30,SEO,Web,ES,NaN,Chrome,0,1,F,24.0,Mexico
914653,2015-12-03,Ads,Mobile,EN,Facebook,Iphone_App,0,1,F,29.0,Uruguay
738852,2015-12-01,Ads,Mobile,ES,Google,Iphone_App,0,1,M,20.0,Mexico
469593,2015-12-04,Ads,Web,ES,Google,Chrome,0,1,M,28.0,Venezuela
698306,2015-12-02,SEO,Mobile,Other,NaN,Android_App,0,1,F,20.0,Venezuela
881703,2015-12-01,SEO,Mobile,EN,NaN,Iphone_App,0,1,F,35.0,Costa Rica
178310,2015-12-04,SEO,Mobile,ES,NaN,Android_App,0,1,M,20.0,Colombia
614947,2015-12-04,Ads,Web,ES,Google,Chrome,0,1,F,18.0,Mexico
541637,2015-12-02,Ads,Web,ES,Google,Safari,0,1,M,25.0,Peru
759619,2015-12-02,Direct,Web,ES,NaN,IE,0,1,F,24.0,Chile
310570,2015-12-01,SEO,Web,ES,NaN,Safari,0,1,M,31.0,Argentina
683490,2015-12-04,Ads,Web,ES,Facebook,IE,1,1,M,32.0,Ecuador
384109,2015-11-30,SEO,Web,ES,NaN,FireFox,0,1,M,19.0,Mexico
841451,2015-12-02,Ads,Web,ES,Facebook,FireFox,1,1,M,24.0,Colombia
121657,2015-12-03,SEO,Mobile,EN,NaN,Android_App,0,1,F,22.0,El Salvador
216139,2015-12-01,Direct,Web,ES,NaN,IE,0,1,F,25.0,Argentina
504226,2015-12-04,Ads,Web,ES,Google,Chrome,0,1,M,48.0,Uruguay
125230,2015-12-02,SEO,Mobile,Other,NaN,Android_App,0,1,F,40.0,Venezuela
784855,2015-12-04,Ads,Mobile,ES,Facebook,Android_App,0,1,M,33.0,Colombia
812673,2015-12-03,Direct,Mobile,ES,NaN,Android_App,0,1,F,33.0,Argentina
147735,2015-11-30,SEO,Mobile,ES,NaN,Android_App,0,1,M,25.0,Argentina
189708,2015-12-03,SEO,Web,ES,NaN,Safari,0,1,F,30.0,Mexico
159812,2015-12-01,Direct,Mobile,ES,NaN,Android_App,0,1,M,39.0,Argentina
...,...,...,...,...,...,...,...,...,...,...,...
941509,2015-12-04,SEO,Web,EN,NaN,Chrome,0,1,M,41.0,Colombia
261968,2015-12-01,Ads,Mobile,ES,Google,Android_App,0,1,M,25.0,Nicaragua
216268,2015-12-03,Direct,Web,EN,NaN,Chrome,0,1,M,38.0,Argentina
859562,2015-12-01,SEO,Mobile,Other,NaN,Android_App,0,1,M,33.0,Mexico
182703,2015-12-02,SEO,Mobile,ES,NaN,Android_App,0,1,M,29.0,Colombia
114825,2015-12-01,SEO,Mobile,Other,NaN,Android_App,0,1,F,29.0,Panama
388349,2015-12-04,SEO,Mobile,Other,NaN,Iphone_App,0,1,M,25.0,Guatemala
742179,2015-12-04,Direct,Mobile,ES,NaN,Android_App,0,1,F,27.0,Paraguay
506973,2015-11-30,Ads,Web,EN,Google,IE,0,1,F,29.0,Venezuela
978836,2015-12-04,Ads,Web,ES,Google,Safari,0,1,M,26.0,Colombia
928612,2015-12-01,Direct,Web,ES,NaN,IE,0,1,F,18.0,Argentina
750195,2015-12-02,Direct,Mobile,ES,NaN,Iphone_App,0,1,F,20.0,Peru
574709,2015-11-30,SEO,Web,ES,NaN,IE,0,1,F,22.0,Venezuela
793369,2015-11-30,SEO,Web,ES,NaN,IE,0,1,F,40.0,Mexico
943808,2015-12-03,Direct,Web,ES,NaN,FireFox,0,1,M,21.0,Bolivia
596170,2015-12-03,SEO,Web,ES,NaN,FireFox,0,1,F,21.0,Colombia
875337,2015-12-02,Ads,Mobile,ES,Google,Android_App,0,1,M,34.0,Peru
118802,2015-12-01,Ads,Web,ES,Google,Chrome,0,1,F,29.0,Mexico
424130,2015-12-01,SEO,Mobile,ES,NaN,Android_App,0,1,M,19.0,Argentina
689957,2015-12-04,Direct,Mobile,ES,NaN,Android_App,0,1,F,35.0,Colombia
974103,2015-12-03,Ads,Mobile,ES,Google,Iphone_App,0,1,F,32.0,Venezuela
115475,2015-12-02,Ads,Web,ES,Facebook,Chrome,0,1,F,20.0,Mexico
571940,2015-12-01,SEO,Web,ES,NaN,FireFox,1,1,M,25.0,Paraguay
330151,2015-12-01,Ads,Web,ES,Google,FireFox,0,1,M,21.0,Bolivia
853589,2015-12-03,SEO,Web,ES,NaN,Chrome,0,1,F,50.0,Peru
364818,2015-11-30,SEO,Web,ES,NaN,Chrome,0,1,F,21.0,Venezuela
209738,2015-12-04,Ads,Web,ES,Facebook,Chrome,0,1,M,21.0,Bolivia
826793,2015-12-01,SEO,Mobile,ES,NaN,Android_App,0,1,F,20.0,Colombia
785224,2015-12-04,SEO,Mobile,ES,NaN,Android_App,0,1,M,21.0,Colombia
241662,2015-12-04,Ads,Web,ES,Facebook,Chrome,0,1,M,27.0,Mexico

In [37]:
stats.ttest_ind(df_exp.conversion,df_control.conversion,equal_var=False)
# ttest_ind assume equal variance by default
# read the result,

Ttest_indResult(statistic=-7.3939374121344805, pvalue=1.4282994754055316e-13)

In [ ]:
stats.ttest_ind(df_exp, df_control, axis=7)