In [23]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

user="data\Funnel\\user_table.csv"
home="data\Funnel\home_page_table.csv"
search="data\Funnel\search_page_table.csv"
payment="data\Funnel\payment_page_table.csv"
payment_conf="data\Funnel\payment_confirmation_table.csv"

user=pd.read_csv(user,header=0,parse_dates=[1])
home=pd.read_csv(home,header=0)#,parse_dates=[5,6])
search=pd.read_csv(search,header=0)#,parse_dates=[5,6])
payment=pd.read_csv(payment,header=0)#,parse_dates=[5,6])
payment_conf=pd.read_csv(payment_conf,header=0)#,parse_dates=[5,6])

In [32]:
max(user.groupby('user_id').size())#confirmed user table,user id is unique 
max(payment_conf.groupby('user_id').size())#confirmed in all pages table, user id is unique  
#home.head()
#payment_conf.head()

1

In [46]:
data=home.merge(user,how="left",on="user_id")
data=data.merge(search,how="left",on="user_id",suffixes=("_home","_search"))
data=data.merge(payment,how="left",on="user_id") 
data=data.merge(payment_conf,how="left",on="user_id",suffixes=("_payment","_paymentconf")) 

data.head()

,user_id,page_home,date,device,sex,page_search,page_payment,page_paymentconf
0,313593,home_page,2015-02-26,Desktop,Female,NaN,NaN,NaN
1,468315,home_page,2015-02-21,Desktop,Male,NaN,NaN,NaN
2,264005,home_page,2015-03-25,Desktop,Female,NaN,NaN,NaN
3,290784,home_page,2015-03-14,Desktop,Male,NaN,NaN,NaN
4,639104,home_page,2015-01-03,Desktop,Female,search_page,NaN,NaN

In [48]:
data.describe()#only calculates numeric values
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90400 entries, 0 to 90399
Data columns (total 8 columns):
user_id             90400 non-null int64
page_home           90400 non-null object
date                90400 non-null datetime64[ns]
device              90400 non-null object
sex                 90400 non-null object
page_search         45200 non-null object
page_payment        6030 non-null object
page_paymentconf    452 non-null object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 6.2+ MB

In [52]:
data.to_csv("data\Funnel\\funnel_output.csv",encoding='utf-8')