In [1]:
import pandas as pd
import numpy as np

In [8]:
ccfile="data/credit_card/cc_info.csv"
txnfile="data/credit_card/transactions.csv"

cc=pd.read_csv(ccfile)
txn=pd.read_csv(txnfile,parse_dates=True)

In [6]:
cc.head()

        credit_card      city state  zipcode  credit_card_limit
0  1280981422329509    Dallas    PA    18612               6000
1  9737219864179988   Houston    PA    15342              16000
2  4749889059323202    Auburn    MA     1501              14000
3  9591503562024072   Orlando    WV    26412              18000
4  2095640259001271  New York    NY    10001              20000

In [9]:
txn.head()

,credit_card,date,transaction_dollar_amount,Long,Lat
0,1003715054175576,2015-09-11 00:32:40,43.78,-80.174132,40.267370
1,1003715054175576,2015-10-24 22:23:08,103.15,-80.194240,40.180114
2,1003715054175576,2015-10-26 18:19:36,48.55,-80.211033,40.313004
3,1003715054175576,2015-10-22 19:41:10,136.18,-80.174138,40.290895
4,1003715054175576,2015-10-26 20:08:22,71.82,-80.238720,40.166719

# Question1
Your boss wants to identify those users that in your dataset never went above the monthly credit card limit (calendar month). The goal of this is to automatically increase their limit. Can you send him the list of Ids?

In [23]:
#get month value based on date
import datetime
month=[]
len_d=len(txn['date'])
#print(len_d)

for i in range(len_d):
    date=txn.loc[i,"date"]
    date_formatted=datetime.datetime.strptime(date, "%Y-%m-%d %H:%M:%S")
    month_i=str(date_formatted.year)+'-'+str(date_formatted.month)
    month.append(month_i)

AttributeError: 'list' object has no attribute 'head'

In [78]:
def getMonth(date_str):
    date=datetime.datetime.strptime(date_str, "%Y-%m-%d %H:%M:%S")
    return(str(date.year)+'-'+str(date.month))

In [79]:
txn['month2']=txn['date'].apply(getMonth)

In [81]:
txn.head()

,credit_card,date,transaction_dollar_amount,Long,Lat,month,month2
0,1003715054175576,2015-09-11 00:32:40,43.78,-80.174132,40.267370,2015-9,2015-9
1,1003715054175576,2015-10-24 22:23:08,103.15,-80.194240,40.180114,2015-10,2015-10
2,1003715054175576,2015-10-26 18:19:36,48.55,-80.211033,40.313004,2015-10,2015-10
3,1003715054175576,2015-10-22 19:41:10,136.18,-80.174138,40.290895,2015-10,2015-10
4,1003715054175576,2015-10-26 20:08:22,71.82,-80.238720,40.166719,2015-10,2015-10

In [25]:
txn['month']=month

In [39]:
txn.head()
monthlytxn=txn.groupby(["month","credit_card"])["transaction_dollar_amount"].sum()

In [40]:
monthlytxn.head()

month    credit_card
2015-10  1003715054175576     8954.21
         1013870087888817    12090.34
         1023820165155391    19259.98
         1073931538936472     1638.03
         1077622576192810      604.84
Name: transaction_dollar_amount, dtype: float64

In [46]:
monthlytxn=pd.DataFrame(monthlytxn)
monthlytxn.reset_index(inplace=True)

In [52]:
monthlytxn.head()

     month       credit_card  transaction_dollar_amount
0  2015-10  1003715054175576                    8954.21
1  2015-10  1013870087888817                   12090.34
2  2015-10  1023820165155391                   19259.98
3  2015-10  1073931538936472                    1638.03
4  2015-10  1077622576192810                     604.84

In [53]:
cc.head()

        credit_card      city state  zipcode  credit_card_limit
0  1280981422329509    Dallas    PA    18612               6000
1  9737219864179988   Houston    PA    15342              16000
2  4749889059323202    Auburn    MA     1501              14000
3  9591503562024072   Orlando    WV    26412              18000
4  2095640259001271  New York    NY    10001              20000

In [56]:
data=monthlytxn.merge(cc,how="left",on="credit_card")

In [62]:
total_list=np.unique(data['credit_card'])

In [68]:
overlimit_list=data.loc[data['transaction_dollar_amount']>data['credit_card_limit'],'credit_card'].values

In [75]:
result=set(total_list)-set(overlimit_list)
print(len(result))
print(result)

862
{6465194079012865, 3742680218482691, 6698437277931525, 3707548197703686, 5275410446848007, 6303154567927815, 7728317158402059, 2519792944246796, 1818161941088271, 4876614541242383, 1664685555838993, 6245684915925010, 6959222140366866, 6325419957422105, 4290726060535834, 2239759218122779, 7195601645654041, 9681744051023898, 3306399358832671, 3702831934212129, 4803218554363943, 8553746017036332, 5814955316793393, 6514175342145589, 8779597037686839, 1222730774437945, 7452262324088889, 1363526625562684, 7838554896273468, 3259748360353854, 6075288092815423, 1461675388467265, 9043793084665932, 6780209767452752, 1169271395749970, 8765140629962839, 6457362521948249, 3417477890619483, 4954103748307036, 6872461016514653, 9472892860209244, 1582804611799136, 7180893798762595, 7581688456986723, 9466839319443564, 7030584443306096, 8822567299944562, 4386321242706043, 2089905184376958, 5930630722779265, 2698111742263426, 5617658887579781, 9758203643408520, 6975663682594960, 7651566467203216, 1295205764436116, 5175507030601876, 1761568277897366, 2170125942816920, 3053439628501145, 3352988767824026, 3253141560871065, 6838971510538393, 7344275932115101, 3541586324828319, 3129775937278112, 8364327933036701, 2718893247424677, 6849482510053541, 7710564188096682, 4060233054263467, 3084925533151405, 1281918894315694, 5876686859794608, 3870380583282871, 4213842418098364, 3902105116692669, 4710393737306304, 5527951937235136, 8571851067025602, 4168922642514119, 8311886363156679, 9465925894275276, 2197407580768462, 6156698325995733, 5862371394578648, 3836251327914201, 7524708568363224, 8540644680323289, 2229356545413340, 7242139332065500, 8536914250563809, 7805761625362663, 8702495698901225, 8867710239543529, 1380553699881195, 5228380053135598, 5027662896498929, 5292968988475633, 1786706888116468, 1087468642191606, 4688258194581749, 5644143320838397, 4226229431544062, 5783648852115715, 9547718659524868, 3051234642059526, 7798370940858637, 7768299333443860, 1492903951796501, 1548924125935895, 6058125552802074, 6201975636402458, 7035768975773980, 4172354071638301, 4890937775145245, 8618599746674974, 6013984457072930, 2290290643257636, 3551280959338794, 6205219558117674, 5286504827011372, 1838946782417200, 8596603091812656, 8162218322673975, 3552650080971064, 6160860237001016, 8569454397966652, 5709824612342078, 1505998080559428, 5353425661157701, 5342740779739467, 9081330229975376, 2899375199449433, 3831759517786458, 2743655125021019, 5142934429645149, 1488824811225438, 4833760023644511, 1137926374621536, 8028935620354401, 3951632727431524, 6447142363937125, 9560420950294884, 1981294676906345, 2300367582228844, 4787957227319660, 5163439090127213, 6891610450164077, 3357251116163441, 8938296722055540, 1668261999348087, 4307439154071927, 4505833195983226, 9355177312625020, 1337293370722685, 1101164752077181, 2109905364259199, 6598829254424957, 4570155620446594, 6063334769611138, 9938969980242308, 2238144513466760, 8032811535391112, 2061754198464906, 9855217884613002, 6631838888901006, 8699513399693713, 2848482178783636, 1156998467006869, 7096354853697942, 4265201268681111, 3448348878698904, 7131626365886872, 9755306333757844, 4904685164839326, 5827454659596708, 8413908390816172, 5079406362483117, 2000422161074606, 5427757726611889, 3677501628719542, 1688895281144247, 5686317975615926, 7811700299325879, 9459985559411130, 1409322756311484, 2469800015876540, 6202290276245949, 4233789026286017, 2544794177165766, 9066991493609928, 8535612911733195, 5293204730208718, 2995243184388559, 7628993515975118, 7544799337394642, 1312823087473107, 8533111210766809, 3384913269838299, 1254472912142815, 3224706753595872, 6161580285936095, 1828893451751906, 3907281016803810, 8308288662905313, 8675614747234783, 1538309249157612, 1368742094369263, 1845720274833905, 9256164582502904, 9273979691375096, 4931351520825852, 7193900293112316, 1865432240591358, 3731792856728063, 3992365863289344, 6596857396468224, 4356584115636738, 1943216273885700, 2065958041391621, 8016323385451014, 9617911327709708, 4313788156475922, 9697976691448340, 4074760985342487, 9076783251687962, 6841733273104926, 5514508235368997, 3015736744626726, 1800690977956392, 4496398325375529, 6186951577719336, 8123289635641903, 4403429977563696, 1326817464191542, 7036919029144120, 1023820165155391, 1897978162924096, 1896197396507201, 4282781825761856, 4705966876787269, 4008221261662791, 7053196367895112, 7446346770123339, 6235292123992652, 7700703753605708, 2141766487923280, 9750493074217554, 7968925716431446, 5426980759755351, 7102237366403671, 1228288249952859, 3342907490282079, 5255734714016352, 7685625385316960, 2441100449108586, 5999629725471339, 9375103964985968, 2800799152896633, 3486363890209406, 4513504763542143, 6270963060103806, 9958678964376192, 1224132812823172, 3208666010319493, 9224205015351942, 4521667837475463, 6748216777495177, 9791737612737164, 3815394949163663, 1301519430111888, 7103682245071504, 4792676311859858, 7009880545491603, 1740452094861972, 5364469336425108, 1073931538936472, 2025583437341338, 2012803986778779, 2760867830405786, 5730606033377949, 7392714892073628, 2341891378416287, 6154164379665055, 4026696367506082, 8353267890887335, 1144894232607400, 9594995194184360, 6744701624115884, 9884182241594028, 7479546374341294, 8505335594767160, 1702788839758517, 3514909947941558, 3344214228396727, 7062171597079225, 5229488282763963, 5105236644344510, 7930309756035775, 2250292384508608, 6756817030435521, 6483234875464386, 5339470339859139, 7546186362815170, 2009239634184904, 7489457910592208, 9492326065816276, 3130956058854105, 8359628052869851, 6898559558056681, 9119845117528812, 7794694461432561, 1498307521782517, 3738695168506613, 4227572855159541, 9258505119361784, 4682464059155194, 8400351495711483, 8450891535792894, 4742690566857474, 5177967593503491, 9389953638589188, 8409627988583176, 3454193028012809, 6988573032633097, 7809589434909452, 8924903425751823, 7459970825011990, 8990491830039318, 3696717918927642, 8152578549627680, 5365966946601761, 7874281252875041, 8320217550615334, 6515359867298603, 5201123369816877, 3070283164295984, 1475826831184689, 3796907537369905, 3520225040306995, 3824313030996787, 5872602762998578, 5924922891293495, 2221202850421562, 3769271071419194, 4779104415243065, 6455247676775228, 6636937316963132, 4019546939071295, 4025320586621760, 5193447888327490, 7810782077858620, 1375199270298437, 5208989390764870, 5433491746431814, 5446645498913605, 6256736424616777, 3575809678541644, 9595658147867468, 1420382222148431, 2217812082379607, 3970322957269847, 3517760483459935, 1551312972663650, 5849111629036386, 3340974252743524, 3125397457087333, 8010549689039719, 5918282832042862, 8561516016778095, 7736882353171315, 2078460270025590, 9430574789596024, 3238229810297729, 3999331922264962, 6400102930973570, 7239424032193412, 6388959096068998, 4157980693234568, 9532228141038472, 4690759158535050, 1713761471587217, 3297156822354843, 3817731837557664, 9232624030914708, 8108798437651256, 6495847936021430, 2095640259001271, 7578127974417334, 7716741324008377, 5458162124475323, 2620704021218241, 4401901448192965, 5080999416077253, 5247358861329350, 8736638781823948, 9336370388304846, 1930721677192144, 5449610971108305, 6216751190381521, 6423417855132625, 2954456265698260, 6732485122573267, 2692109715166166, 2672797853275095, 9644781126679504, 5609767247461337, 9621317412072412, 6962185392737245, 8239191573771235, 2035931394067428, 7142411144219620, 6244656436085734, 8197260029891556, 4186963117247464, 9271294569681900, 1221421251374063, 2440730617592819, 2689382042733559, 3736320383919103, 1562104682001408, 1261411767321605, 2216132730528773, 4289208456528903, 6480602940038149, 7246108290515977, 3457862814915595, 7640392875963406, 5739635764702223, 7781508495272974, 5948940271342611, 6214915371897876, 6286633870767123, 6521271718368276, 2260531719298071, 1716846938844184, 7785144321913880, 3801374660832282, 5000268333411354, 7506181666311196, 2267974573364254, 9031216392913950, 9802875887295518, 1402909379316770, 1991581570861050, 5762108118035491, 6806677056951330, 2015751582522409, 3871110336988202, 3086742415895605, 4140252840629305, 6379790667727929, 7482288151831611, 2853112388344894, 2824840080919615, 4320721997102152, 4766210145946696, 5766495283121226, 8013107372772424, 9194498820553808, 2473526792975445, 5061349615705175, 7126435777387607, 1107936587129946, 4616880410668126, 4048301611162722, 3511407381857380, 7087720787493988, 7642492194434148, 3612614294719592, 4302633772248169, 2964226721442922, 7927809297669234, 4050952261377140, 2396988576748662, 9836548369808504, 4159662672178300, 3311276221301887, 3613345325704319, 1264384810841217, 7073490367448189, 8325153881531522, 3269417514626180, 2925559987432581, 8955392958618753, 1508274565891207, 6422651895848072, 9591503562024072, 8889611665372298, 1501541842357388, 5405790922747020, 1827724345844879, 7831664021861519, 1790418788918417, 4171614982554774, 8415836921156758, 1809105277432987, 7649237198931106, 5552770653002916, 5376655964161192, 8259854075192493, 2129295395003567, 2319535367187634, 4281752431928501, 8319213328536757, 8625961993043126, 4747886986038458, 5717872686412990, 6819174647393472, 9804141847583936, 7877869810457796, 3028140595406023, 8186338691607752, 7045277863044303, 6164143160904912, 3198356899091665, 4663577652761810, 9264972320343248, 7253140926151893, 8864950135729370, 4217808221875420, 1210872963953886, 2639660431498464, 7711805422759137, 8221913653327075, 3787622376078564, 5013753958362344, 5290774753899753, 9711468735134956, 4516569913607412, 1459700728665333, 7862780183667956, 9757152469896436, 2318279413327098, 2941992413383931, 3598888231646460, 3658664738766077, 4141302078555386, 4270238553541882, 6295994752468225, 8290434690016513, 5073807444974852, 2020458328196357, 6667627884219652, 5798102379533575, 1985465879991560, 7356547139163401, 7429421121062150, 7787919251739915, 1468686791689484, 8185822588605701, 4639173013775632, 5836753091038481, 7528857656894738, 3846448423306515, 3199929867863316, 4003356110638356, 7745651081413913, 3046519985237274, 8334770465025305, 5308904973935901, 6310725288144157, 4341436577635619, 9683778679967012, 3091243789501733, 5494958749848869, 7470859729993000, 1077622576192810, 9657365357231404, 7623592082548014, 6863464532297009, 7115509751643442, 6120484619552052, 3877689042636086, 2006318724037943, 3862898177506617, 2409669868254522, 2377857415001409, 4749889059323202, 5389746962267460, 8338845492364614, 3917492344376650, 5468123853913421, 9304374049217870, 4672118413151569, 7553474181965140, 8414741953111383, 1003715054175576, 3616329710798175, 9854872265114976, 6873200773836131, 9837774113787236, 3002135240381800, 9587972953044328, 5320791639135601, 2600687426901365, 6938265066782069, 6661995519399289, 8595793418524025, 1808965499397505, 4333830558305665, 6266705123601799, 6215912685151625, 6714811165769097, 7687658687382923, 6935346241885581, 5166438433672591, 1742293159722384, 9698400826549648, 2053649899928978, 2143299125896595, 9851955447362962, 4296246438604183, 6404482075284890, 5098511582643613, 9383760568579492, 8089806479424934, 4936380626945447, 8516934048339373, 5659288348108211, 2011225415908789, 6615733467016631, 7688291064116663, 9635686158177722, 2082491371163072, 3283780398702017, 1126571863414211, 3924829195486659, 4531548899489219, 2246920751887814, 5993120257934794, 2805299759365579, 1916247437596108, 5453745952738769, 3972528153355730, 6945217470076371, 7124999548487126, 8246842555809242, 9981251982982618, 9678367852258782, 2303171755251168, 8550977182819809, 7598247814165987, 9309465343004132, 5684510881502693, 2817353387367914, 1428403246999020, 5700924993541613, 2159761840702960, 3966556370103795, 4539200319153652, 7802709536607734, 4439982514963965, 4232565960027650, 1165413984579076, 9245298182395396, 8035759955465736, 4309494627223049, 7961700524971531, 6162758085256721, 4222257296924178, 2921263077776915, 4027126453841428, 5705142797618710, 2241726319111705, 2737987462573599, 9867492085978660, 3222599265756712, 9246395935309352, 2932839780724266, 1284450389976622, 6640710366086702, 4234505022072368, 7081424943873587, 5864242444135997, 9816797152028230, 3126713197438541, 3506311286355533, 1691402616456783, 1089479586475600, 2340521163476561, 3252422521439823, 1167475218806361, 7636362072432217, 6703587278204507, 4101798991332958, 4933910876032607, 8534199181434464, 3714863719798369, 4744743520431714, 3539204020033123, 8930627115152996, 4664185471467111, 7675526470884968, 3662455495779947, 6967355131453039, 1540571164649072, 3367848759678576, 3197366545608306, 9946917923319410, 7804216189681274, 1654474816562824, 5059189477453448, 7334481986999944, 8707235956924043, 3458282373086860, 1627133998042765, 2018846126249619, 9074496478473876, 5667345463662229, 9397534897596052, 3410360221015707, 5828448317363869, 1388343943378591, 4339853010378399, 8011569676936865, 3000865854914214, 3424173121597094, 1128536627506856, 4755187966465702, 7285338329726630, 8774466977695404, 9449500138776236, 7757977389711023, 4901899458549426, 3141741552082614, 7461673920587452, 7916370876622524, 9426548622589628, 6488510088679104, 3805530354015938, 3569775399128772, 9784236961027780, 5178912386959057, 5285935774074579, 9101701756819166, 1489635379898079, 6933786855515871, 5961248174929633, 4546345297067747, 3481671427731175, 4982870431606503, 5179741011136232, 9254188841656040, 9311226148341480, 9986135779184360, 5666241810779885, 7769265222348528, 8137811493121777, 1615829389733620, 5960629082676983, 4832198644199161, 2218504565462778, 5721265318199034, 5654948589485821, 7493277950441213, 3436245968389889, 5132270021326600, 8088335924434698, 5790900556949261, 4893545347026703, 6225921585766163, 3645572182845204, 4114566748837655, 5133871386101527, 5929569085404951, 5022294487953183, 4251786088548131, 7304413635737386, 1655819415123756, 9613939883867952, 5533884728934194, 4441810945214262, 6126515498577720, 4798124560973632, 4235114373687107, 4769264372531012, 5697145338404683, 1571950024675150, 6804279646781269, 1155726765596507, 7765780560269150, 6354366482171744, 2420143847731044, 2324277636337514, 1701518284353388, 8449977471766380, 9552288592156524, 2206106834866031, 8567390858674031, 7898918688943986, 3317657129455475, 5213801443993459, 9548629685194612, 2548694161694583, 7314396346539895, 1997929794676601, 4718224894234489, 4722888325136251, 9474570595942268, 7200349472931713, 9310902645401474, 9460261785948036, 9528285469413252, 9818730572429186, 2647136239925128, 2596862660671371, 4666866933569419, 3413946891046800, 8526940090693523, 2635734164793243, 5537697283153819, 3153643853817761, 8886885444601763, 8236301184896933, 2557172553412520, 1134742235676586, 1464551767416747, 6319530478989228, 1013870087888817, 1191702776174515, 2625359414931381, 5356282040111031, 4662285575534520, 4795379267919800, 4780225344761787, 8894346622126012, 3954565279762367, 9021391556427712, 5664450038929347, 7325119954636745, 7186723485093836, 3489836158322637, 2617818479902672, 5046524059181009, 7996607928053715, 2407349078067156, 5016712448423893, 6239589776969686, 8295403590944723, 9182297359077336, 5759828179208154, 5891245628237787, 7869254138083290, 8997872842487770, 3709941163857886, 4761149767499742, 7011626867998686, 5780268975765473, 8746120498341854, 5171595359553508, 6499168840378342, 1250832548098023, 9961694231875562, 9722420012449776, 5808568142475251, 4760865394229236, 7962835535781875, 6702862097534967, 7596392338837497, 3765967291056122}

# question 2
On the other hand, she wants you to implement an algorithm that as soon as a user goes above her monthly limit, it triggers an alert so that the user can be notiﬁed about that.We assume here that at the beginning of the new month, user total money spent gets reset to zero (i.e. she pays the card fully at the end of each month).  Build a function that for each day, returns a list of users who went above their credit card monthly limit on that day.

In [86]:
data2=txn.merge(cc,how="left",on="credit_card")

In [99]:
data2.head()
from datetime import timedelta

datetime.datetime(2015, 9, 11, 0, 0)

In [129]:
def toDateTime(str):
    return(datetime.datetime.strptime(str, "%Y-%m-%d %H:%M:%S"))

In [128]:
#given month and date, calculate rolling total for each credit card and get the ones which exceed limit 
def calRollingToal(df,d_month,d_next):    
    focusdata=df.loc[(df["month"]==d_month)&(df["date"]<d_next),:]
    focusdata1=focusdata.groupby("credit_card").sum()
    focusdata2=focusdata1["transaction_dollar_amount"].reset_index()
    focusdata3=focusdata2.merge(cc,how="left",on="credit_card")
    result=focusdata3.loc[focusdata3["transaction_dollar_amount"]>focusdata3["credit_card_limit"],:]
    return(result["credit_card"].values)

In [ ]:
data2["date"]=data2["date"].apply(toDateTime)

In [140]:
d = datetime.datetime(2015, 8, 20) 
d_next=d+ timedelta(days=1)
d_month=str(d.year)+'-'+str(d.month)
d_next

datetime.datetime(2015, 8, 21, 0, 0)

In [143]:
#assume input date is datetime format
def alertFunc(date):
    d=date
    d_next=d+ timedelta(days=1)
    d_month=str(d.year)+'-'+str(d.month)
    
    list1=calRollingToal(data2,d_month,d)
    list2=calRollingToal(data2,d_month,d_next)
    return(set(list2)-set(list1))

In [144]:
d1 = datetime.datetime(2015, 8, 20) 
alertFunc(d1)

{5723635641134781, 7299183791723634, 8972201384562696}

# Question 3
Finally, your boss is very concerned about frauds cause they are a huge cost for credit card companies. She wants you to implement an unsupervised algorithm that returns all transactions that seem unusual and are worth being investigated further.